// color palette
$base: #6930c3;
$toots: #212f45;
$highlight: #268bd2;
$soft: #073642b9;
$light: #fdf6e3;
$shadow: #00000076;
$softy: #1060b1;
$baser: #e0e4e8;
$pop: #335c67;
$lines: #669bbc;
$linez: #fb8500;
$bg: linear-gradient(135deg, $soft 50%, $base 10%, $highlight 100%);

$md: 48rem;
$lg: 64rem;